@import "tailwindcss";

/* 🚨 LA SOLUTION EST ICI : Force Tailwind à écouter ton bouton de thème au lieu de l'ordinateur */
@variant dark (&:where(.dark, .dark *));

/* Configuration du thème pour Tailwind v4 */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

:root {
  /* Thème Clair */
  --background: #ffffff;
  --foreground: #0f172a;
  --card: #f6f8fb;
  --muted: #475569;
  --border: #e2e8f0;
  --primary: #2563eb;
}

.dark {
  /* Thème Sombre */
  --background: #0b0f16;
  --foreground: #e5e7eb;
  --card: #111827;
  --muted: #9aa3b2;
  --border: #1f2937;
  --primary: #3b82f6;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Cache la barre de défilement globale de la page */
body::-webkit-scrollbar {
  display: none;
}

/* Pour cacher la scrollbar sur les composants internes tout en gardant le scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}